<div class="col-md-8">

	<div class="row">
		<div class="col-sm-8">
			<div class="input-group">
				{{input type="text" class="form-control" value=title action="search" placeholder="Enter Prezi Name Here"}}
		  		<span class="input-group-btn">
			       	<button class="btn btn-default" {{action "search"}} type="button">Search</button>
			   	</span>
			</div>
		</div>

		<div class="col-sm-4">
			<button class="btn btn-link" {{action "sortBy" "createdAt"}}>Sort By: {{formatSortDirection sortDirection}}</button>
		</div>
	</div>

  	
  	{{# each sortedPrezis as |prezi| }}	
	  <div class="row prezi">
	  	<div class="col-xs-8">
	  		<p><b>{{prezi.title}}</b></p>
	  		<p>{{prezi.prettyDate}}</p>
	  		<p>Created By: <a href="{{prezi.creator.profileUrl}}">{{prezi.creator.name}}</a></p>
  		</div>
  		<div class="col-xs-4">
	  		<img src="{{prezi.thumbnail}}" class="pull-right" height="80">
	  	</div>
	  </div>
	{{/each}}

</div>